{% extends "base.html" %}{%block head%}{%endblock%}{% block body %}
<div class="form-container">
    <h1>Create Blog Post</h1>
    <form method="post">
        {{form.hidden_tag()}}
        <div class="text-field">
            <label>Title</label>
            {{form.title()}}
        </div>
        <div class="text-field">
            <label>Slug</label>
            {{form.slug()}}
        </div>
        <div class="text-field">
            <label>Content</label>
            {{ form.content() }}
        </div>
        {{ form.submit() }}
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='content') }}
</div>

{% endblock %}