{% extends "base.html" %}{%block head%}{%endblock%}{% block body %}
<h1>My Blog Posts</h1>
<h2>You're logged in as {{current_username}}</h2>
{% if not posts %}
<h2>You have no posts</h2>
<a href="{{url_for("create")}}">Click here to create your first draft!</a>
{% endif %}

{% for post in posts %}
<div class="post-card">
    <h2>{{post.title}}</h2>
    <p>Slug: {{post.slug}}</p>
    <p>Created on: {{post.created_at.strftime("%d/%m/%y")}}</p>
    <p>Created at: {{post.created_at.strftime("%M:%H")}}</p>
    <div class="post__content">{{post.content|safe}}</div>
    <div class="button-container">
        <button><a href="#">View Post</a></button>
        <button><a href="{{url_for("edit", slug=post.slug)}}">Edit Post</a></button>
        <button><a href="{{url_for("delete", id=post.id)}}">Delete Post</a></button> 
    </div>
</div>
{% endfor %}

{% endblock %}